<% provide(:title, 'Home') %>
</div>
<center><%=image_tag("http://i50.tinypic.com/a14iyx.png")%>

</br>
</br>
</br>
</br>
</br>
</br>
<center><%=image_tag("http://i50.tinypic.com/vxnlgh.png")%>
</br>
</br>
</br>
	<br>
	<center><%=image_tag("http://i46.tinypic.com/nzal4.png")%>

		<center><%=image_tag("http://i47.tinypic.com/6400tv.png")%>

			<center><%=image_tag("http://i50.tinypic.com/3587683.png")%>

				<center><%=image_tag("http://i45.tinypic.com/wrbzft.png")%>
<center><%=image_tag("http://i47.tinypic.com/10ruxs9.png")%>

<h1>The App is FREE so what are you waiting for </h1>
	<h1>Email us at orangephils@gmail.com</h1>



</body>