<% provide(:title, 'Home') %>


 <div id="youtube_zone">
	
	


&nbsp; &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp; 
&nbsp; &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp;  &nbsp; 
&nbsp; &nbsp;  &nbsp;  &nbsp;  &nbsp; &nbsp;  
<!-- Button to trigger modal -->

		<iframe src="http://player.vimeo.com/video/66492100?title=0&amp;byline=0&amp;portrait=0" width="547" height="481" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
<!-- Button to trigger modal -->

 </div>


    
 </div>

</div>

<center>
</br>
</br>
</br>
	<br>
	<%=image_tag("http://i42.tinypic.com/30bk2ac.png")%>


		<%=image_tag("http://i41.tinypic.com/30bfc7m.png")%>

		<br>
		<br>
		

		<br>
		<br>
		<br>
		<br>
		

		<%=image_tag("http://i39.tinypic.com/352p02a.png")%>

	<br>
		<br>
		
	<br>
		<br>
		



			<center><%=image_tag("http://i43.tinypic.com/2wn8rkh.png")%><br><br>
		<br>
		<center><%=image_tag("http://i39.tinypic.com/mcrwiq.png")%>



	<br>
		<br>
		


<center><%=image_tag("http://i44.tinypic.com/5n5iqw.png")%>

	
</br>
&nbsp; &nbsp; &nbsp; &nbsp; 
<BR>
<BR><BR>
<p>
  <a href="http://orangeapps.weebly.com/contact-us.html" class="btn btn-large btn-info ">Contact us </a>
 
</p>
<%= link_to "Schools", course_path %> | <%= link_to "About", about_path %> | <%= link_to "Contact Us", root_path %> |   <%= link_to "Blog", root_path %> </br>Copyright 2013 OrangeApps © All Rights Reserved. </center> 

     <center><%=image_tag("http://i42.tinypic.com/fnu4ia.png")%>

		
</body>