<% provide(:title, 'Home') %>
</div>


 <div id="youtube_zone">
	
	

</br>
</br>

</br>
</br>
</br>
</br>
</br>
</br>

</br>
</br>
<br>
</br>
</br><center>
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
<!-- Button to trigger modal -->
<a href="#myModal" role="button" class="btn-large" data-toggle="modal" ><%=image_tag("http://i43.tinypic.com/314yuk0.png")%></a>
 
<!-- Modal -->   
<div id="myModal" class="modal hide fade"  role="dialog"  aria-hidden="true">
  
  <iframe src="http://player.vimeo.com/video/66492100?" width="750" height="590" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>


 </div>


    
 </div>

</div>



</br>
</br>
</br>
	<br>
	<center><%=image_tag("http://i40.tinypic.com/21erzw5.png")%>

		 <div id="lala">
		 	</br>
</br>

</br>
</br>
</br>
</br>
</br>
</br>

</br>
</br>
<br>
</br>
</br>

</br>
</br>
</br>
</br>
</br>
</br>

</br>
</br>
<br>
</br>
</br>
</br>
</br>
<br>
</br>



<p>Contact us and have it for FREE!</p>
<p>
  <a href="/signup" class="btn btn-large btn-info ">Contact us </a>
 
</p>
<%= link_to "Schools", course_path %> | <%= link_to "About", about_path %> | <%= link_to "Team", root_path %> |   <%= link_to "Blog", root_path %> </br>Copyright 2013 OrangeApps © All Rights Reserved. </center> 

     

		
</body>